@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto sans';
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/bg2.jpg');
    background-size: cover;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background: linear-gradient(to bottom, rgb(43, 40, 40), rgb(112, 107, 107));
    border-radius: 10px;
}

.container .card {
    position: relative;
    width: 100%;
    height: 100%;

}

.card .header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.header-card .img-left {
    position: relative;
    left: -3%;
    width: 20vw;
    height: 30vh;
}

.header-card .img-right {
    margin: 5em;
    width: 10vw;
    height: 5vh;
}
.header-card .nav-header a{
    position: relative;
    left: -5em;
    text-decoration: none;
    color: #c06803;
    font-size: 10pt;
}
.card .card-box {
    display: flex;
    position: relative;
    width: 100%;
    height: 80%;
    margin: 10px 0;

}

.card-box .wallpaper-bg {
    position: absolute;
    left: -30%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.card-box .box-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto" "image";
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#text-area {
    display: flex;
    position: relative;
    grid-area: "texto";
    top: 15%;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 215, 155);
    margin: 10px;
}

#text-area h1 {
    color: #fe9700;
}

#text-area p {
    color: #fcc879;
    margin: 5% ;
    text-align: center;
    font-size: 8pt;
}

#text-area button {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-size: 12pt;
    cursor: pointer;
    background-color: #fe9700;
    box-shadow: 5px 0px 40px 2px rgb(255, 102, 0);
    letter-spacing: 5px;
    font-weight: 500;
}

#image-area {
    grid-area: "image";
    height: 100%;
    position: relative;
}

#image-area img {
    position: absolute;
    width: 50vw;
    height: 70vh;
    right: 10%;

}

.cont {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    height: 20%;
    color: #fff;
    padding: 1em;
}

.cont h1 {
    display: flex;
    justify-content: center;
    color: #fcc879;
}

hr {
    position: absolute;
    display: block;
    left: 0;
    width: 100px;
    color: #fff;
}

.cont p{
    margin: 1em;
    text-align: center;
    font-size: 7pt;
}

#selected span a {
    text-decoration: none;
    color: #fff;
}
